<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<welcome-file-list>
		<welcome-file>loginpage</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>DBurl</param-name>
		<param-value>jdbc:mysql://db4free.net:3306/onkarwaman</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBusername</param-name>
		<param-value>onkarwaman</param-value>
	</context-param>
	
	<context-param>
		<param-name>DBpassword</param-name>
		<param-value>onkarwaman</param-value>
	</context-param>
</web-app>
